
.Header {
    text-align: center;
    line-height: 5vh;
    background-color: var(--yellow-color);
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.Header-links > * {
    margin-left: 3rem;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    transition: 0.4s;
    font-size: 2rem;
}


.Header-title {
    margin-left: 3rem;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    transition: 0.4s;
    font-size: 2rem;
    font-weight: 700;
    float: left;

}

.Header-links > *:hover  {
    margin-left: 3rem;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

.is-active {
    color: white;

}
