.MenuPage {
    text-align: center;
    float: center;
    width: 80%;
    margin: 100px auto;
    background-color: 
}


.ModalItem {
    /* background-color: black; */
    color: black;
    text-align: center;

}

.my-modal {
    width: 90vw;   /* Occupy the 90% of the screen width */
    max-width: 90vw;
    color: red;
} 
.optionItem {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.addToOrder {
    /* position: absolute; */
    /* display: block; */
    /* position: relative; */
    /* float: center; */
}